apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-sample-service
  labels:
    app.kubernetes.io/name: {{ .Chart.Name | default "sample-service" }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
  selector:
    app.kubernetes.io/instance: {{ .Release.Name }}
