replicaCount: 1
image:
  repository: "946248011760.dkr.ecr.us-east-1.amazonaws.com/introspect-sample-service"
  tag: "latest"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
resources: {}
